
body {
    background-color: #ffffff; 
    font-family: FreeMono, monospace; 
    }
    
    h1 {
    color: rgb(0, 0, 0); 
    text-align: center; 
    }
    
    p {
    color: rgb(0, 0, 0); 
    font-size: 20px; 
    }
